page-todo-detail {
  #assignmentsLabel {
    font-size: 18px;
    padding-left: 16px;
    text-decoration: underline;
    font-weight: bold;
  }
  #countDownTimer {
    font-size: 49px;
  }

  .todoName {
    font-size: 40px;
    text-decoration: underline;
  }
}
