<ion-header>
<ion-navbar>
  <ion-title>Todos>Detail</ion-title>
  <ion-buttons end>
    <button (tap)="completeTodo($event)" color="primary" ion-button icon-only>
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </button>
    <button (tap)="menuOptionClick($event)" ion-button icon-only>
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

</ion-header>


<ion-content>
  <div class="item-detail" padding>
    <h1 class="todoName">{{ todo.name }}</h1>
    <div [ngSwitch]="type">
      <!-- <ion-item *ngSwitchCase="'Basic'">
      </ion-item> -->
      <div *ngSwitchCase="'Time'" text-center>
        <p id="countDownTimer"> {{ todo.timeLeft }} </p>
      </div>
      <div id="assignments" *ngSwitchCase="'Assignments'">
        <ion-label id="assignmentsLabel">Assignments</ion-label>
        <ion-list>
            <button ion-item *ngFor="let subtask of todo.subtasks; let i = index">
              <p item-start>
              {{ i + 1 }}. {{ subtask.name }}
              </p>
              <ion-checkbox (click)="completeSubtask($event, i)" checked="{{subtask.done}}" item-end color="dark"></ion-checkbox>
            </button>
        </ion-list>
      </div><!-- end ngSwitchCase="'assignments'" -->
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="type == 'Time'" no-shadow>
	<ion-toolbar position="bottom">
		<button text-center ion-item full (click)="startCountDownTime()">{{countDownText}}</button>
	</ion-toolbar>
</ion-footer>
